/*colores que maneja la página*/


/*fondo para el contenido*/

.colorFondoPag {
    background-image: linear-gradient(180deg, #ffe1aa 0, #ffd4a7 16.67%, #ffc7a2 33.33%, #f2b99d 50%, #e1ac97 66.67%, #d1a092 83.33%, #c2968d 100%);
}


/*fondo color menú*/

.colorOsc {
    background-color: #8B0000;
}


/*color menu*/

.colorMenu {
    background-color: #FFB9B9;
    opacity: 0.5;
}

.colorfuentec {
    color: brown;
}