/*variables*/

$color1: linear-gradient(180deg, #ffe1aa 0, #ffd4a7 16.67%, #ffc7a2 33.33%, #f2b99d 50%, #e1ac97 66.67%, #d1a092 83.33%, #c2968d 100%);
$color2: #9c2106;
$colorform: linear-gradient(90deg, rgba(173, 6, 48, 1) 0%, rgba(255, 148, 235, 0.3841911764705882) 35%, rgba(240, 232, 232, 1) 100%);
$fuente_titulo1: normal 32px/1.5 'Roboto',
sans-serif;
$fuente_titulo2: normal 26px/1.5 'Roboto',
sans-serif;
$fuente_titulo3: italic 22px/1.5 'Roboto' sans-serif;

/*estructura BEM*/


/*bloques*/

.h1 {
    text-align: center;
}

.h2 {
    font-style: oblique;
    text-align: center;
}

.header {
    flex: 0 0 auto;
    height: 100%;
    background: $color2;
}

.main {
    flex-grow: 1;
    flex-direction: column;
}

.section {
    font-size: medium;
}

.footer {
    font-size: small;
    height: 100%;
    width: 100%;
    margin-top: 2px;
    flex-shrink: 0;
}

.form {
    background-image: $colorform;
}


/*elemento*/

.section__contenido {
    color: #800000;
}

.main__contener {
    background-image: $color1;
}

.footer__formato {
    background: $color2;
}

.form__formato {
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    border-width: 10px;
    margin: auto;
    border-color: black;
    background: rgb(173, 6, 48);
}


/*modificadores*/

.section_contenido--titulo {
    font: $fuente_titulo1;
}

.section_contenido--titulo2 {
    font: $fuente_titulo2;
}

.section_contenido--titulo3 {
    font: $fuente_titulo3;
    text-align: center;
}